@import "../App.scss";

.steps_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-left: 60px;

}

.step {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
}

.img_background {
    width: 50px;
    height: 50px;
    background-color: #F0F2F6;
    border-radius: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 33px;
}

.img_incomplete {
    fill: #8C98A9;

}

.img_active {
    fill: #5357B1;
}

.img_complete {
    fill: #00AE63;
}