html {
  height: 100%;
  font-family: "Poppins";
}

body {
  height: 100%;
  font-family: "Poppins";
}

#root {
  height: 100%;
  display: flex;
  flex: 1 1 0%;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 0px;

}